<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Xello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background:#aeeeff ">
<h1 style="text-align:center "> Vernagir</h1>
<p style ="color:#FF0037;background: #aeeeff"  >
    Barev hargeli ogtater</p>
Ura
<input type="email" placeholder="email" class="inputtext" name="email" id="email" tabindex="1" data-testid="royal_email"/>
<br/>
<input type="password" placeholder="password" class="inputtext" name="pass" id="pass" tabindex="2" data-testid="royal_pass"/>
</body>
</html>
